<form method='POST' action="/new">
    <header>Add a new message</header>
    <input type="text" name="author" id="author">
    <input type="text" name="message" id="message">
    <button>Submit</button>
</form>